# --------------------------------------------------------------------------------------------------------------
# The environment variables for the frontend application
# Please start with VITE_APP_ prefix to expose the environment variables to the frontend
# --------------------------------------------------------------------------------------------------------------
# The base URL for the API
VITE_APP_API_BASE_URL = 'http://www.web.api.internship.haibazo.com'
# The name of the project
VITE_APP_PROJECT_NAME = "Internship"
# The key of the project
VITE_APP_PROJECT_KEY = "ITS"
# Enable the console log for the frontend application
VITE_APP_ENABLE_CONSOLE = true

# --------------------------------------------------------------------------------------------------------------
# The environment variables for the repository
# --------------------------------------------------------------------------------------------------------------
# The token for the repository, please change it to your own token for install the dependencies
CI_SERVICE_REPOSITORY_TOKEN = "CI_SERVICE_REPOSITORY_TOKEN"
# The URL for the repository, please change it to your own URL for install the dependencies
CI_SERVICE_REPOSITORY_NPM_PUBLIC_URL = "https://www.gitlab.haibazo.com/api/v4/groups/its-c/-/packages/npm/"
# The URL for the repository, please change it to your own URL for install the dependencies
CI_SERVICE_REPOSITORY_NPM_RELEASE_URL = "https://www.gitlab.haibazo.com/api/v4/groups/its-c/-/packages/npm/"