@import '../../styles/mixins';

@include light('.button') {
  --background-color-primary: var(--color-blue-500);
}

@include dark('.button') {
  --background-color-primary: var(--color-black);
}

.button {
  font-weight: var(--font-weight-bold);
  border: var(--border-none);
  border-radius: var(--rounded-full);
  cursor: pointer;
  display: inline-block;
  line-height: var(--line-height-none);

  &--primary {
    color: var(--color-white);
    background-color: var(--background-color-primary);
  }

  &--secondary {
    color: var(--color-black-800);
    background-color: var(--color-white);
    box-shadow: var(--shadow-lg);
    border: var(--spacing-1) solid var(--color-black-200);
  }

  &--small {
    font-size: var(--font-size-extra-small);
    padding: var(--spacing-10) var(--spacing-16);
  }

  &--medium {
    font-size: var(--font-size-small);
    padding: var(--spacing-10) var(--spacing-20);
  }

  &--large {
    font-size: var(--font-size-base);
    padding: var(--spacing-12) var(--spacing-24);
  }
}
